.container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 145px;
    font-size: xx-large;
}

#value
{
    font-size: 52px;
    margin-top: -30px;
    margin-bottom: 15px;
}

.container-buttons
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 300px;
}

.decrease
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    font-family: 'outfit';
    border-radius: 8px;
    height: 35px;
    width: 90px;
    cursor: pointer;
}

.decrease:hover
{
    background-color: black;
    color: white;
    transition-duration: 0.4s;
}

.reset
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    font-family: 'outfit';
    border-radius: 8px;
    height: 35px;
    width: 70px;
    width: 90px;
    cursor: pointer;
    transition-duration: 0.8s;
}

.reset:hover
{
    background-color: black;
    color: white;
    transition-duration: 0.4s;
}

.increase
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    font-family: 'outfit';
    border-radius: 8px;
    height: 35px;
    width: 70px;
    width: 90px;
    cursor: pointer;
}

.increase:hover
{
    background-color: black;
    color: white;
    transition-duration: 0.4s;
}
